.item {
	@apply relative;

	.star {
		@apply absolute right-6 top-8;
	}

	.image {
		@apply w-[318px] h-[318px] bg-white flex items-center justify-center;

		> img {
			@apply max-h-[318px];
		}
	}

	.titles {
		> h3 {
			@apply font-bold text-lg;
			font-family: 'RF Dewi Extended', sans-serif;
		}

		> span {
			@apply text-sm font-normal;
			font-family: 'RF Dewi Extended', sans-serif;
			color: #3c3c3c;
		}
	}
}
