.button {
	@apply text-white font-extrabold text-xs px-[27px] py-[23px] rounded uppercase
  flex items-center;
	font-family: 'RF Dewi Expanded', sans-serif;
	background-color: #121214;

	> span {
		@apply pl-[23px];
	}

	&.blue {
		background-color: #00bdff;
	}
}
