.wrapper {
	max-width: 1360px;
	height: 100%;
	margin: 0 auto;
	padding: 0 15px;

	.container {
		@apply flex mt-[69px];

		.columnSneaker {
			@apply flex;

			.images {
				.smallImages {
					@apply flex;

					> div {
						@apply cursor-pointer relative;

						&:not(:first-child) {
							@apply ml-[15px];
						}
					}

					.imageActive {
						&::after {
							content: '';
							position: absolute;
							bottom: -3px;
							width: 100%;
							display: block;
							border-bottom: 3px solid #49d0ff;
						}
					}
				}

				.downImageLine {
					background-color: #cbced6;
					width: 52%;
					height: 3px;
					border-radius: 3px;
				}

				@media (max-width: 988px) {
					.downImageLine {
						width: 63%;
					}
				}

				@media (max-width: 768px) {
					.downImageLine {
						width: 100%;
					}
				}
			}
		}

		.columnPrice {
			@apply ml-[30px];

			> h1 {
				@apply font-black uppercase text-3xl ml-[7px];
				font-family: 'RF Dewi Expanded', sans-serif;
			}

			@media (max-width: 988px) {
				> h1 {
					@apply text-2xl;
				}
			}

			.sizes {
				@apply mt-[13px];

				.sizesTitle {
					@apply text-sm font-semibold ml-[10px] uppercase;
					font-family: 'RF Dewi Extended', sans-serif;
					color: #303030;
				}

				.sizeActive {
					background: #49d0ff;
					border: none;
				}
			}

			.priceBlock {
				@apply mt-[38px] flex;

				.priceText {
					@apply flex flex-col;

					:nth-child(1) {
						@apply text-xl font-semibold;
						font-family: 'RF Dewi Extended', sans-serif;
						color: #626262;
						white-space: nowrap;
					}

					:nth-child(2) {
						@apply text-sm font-semibold;
						font-family: 'RF Dewi Extended', sans-serif;
						white-space: nowrap;
					}
				}

				> button {
					@apply ml-[34px];
				}

				@media (max-width: 988px) {
					> button {
						@apply w-[224px] h-[66px] px-[12px];
						font-size: 10px;
						line-height: 20px;
					}

					.priceText {
						:nth-child(1) {
							@apply text-lg;
						}

						:nth-child(2) {
							@apply text-sm;
						}
					}
				}
				@media (max-width: 768px) {
					.priceText {
						:nth-child(1) {
							@apply text-sm;
						}

						:nth-child(2) {
							@apply text-xs;
						}
					}
				}
			}
		}
	}
}
