.form {
	@apply p-[35px] rounded-xl flex flex-col;
	border: 1px solid #e9eaee;

	> h4 {
		@apply font-bold text-2xl;
		font-family: 'RF Dewi Extended', sans-serif;
	}

	> input {
		@apply w-[585px] border-none py-[22px] px-[16px] font-normal text-base rounded-xl mt-[30px];
		background-color: #f9f9f9;
		outline: none;
		color: #424347;
		font-family: 'RF Dewi Extended', sans-serif;

		&::placeholder {
			color: #3c3d44;
		}
	}

	.content {
		@apply flex justify-between mt-[34px];

		label {
			@apply font-normal ml-2 text-sm;
			font-family: 'RF Dewi Extended', sans-serif;
		}

		.restorePassword {
			@apply font-normal text-sm underline underline-offset-4;
			font-family: 'RF Dewi Extended', sans-serif;
			color: #676767;
		}
	}
}
