@mixin stylesList {
	@apply rounded px-[15px];
	border: 1px solid #e6e7eb;

	> div > div > h3 > button {
		@apply uppercase font-black text-sm mx-[10px];
		font-family: 'RF Dewi Extended', sans-serif;
		color: #121214;
	}

	&:not(:first-child) {
		@apply mt-[30px];
	}
}

.wrapper {
	@apply mt-[48px] flex;

	.filter {
		@apply min-w-[310px];

		.block {
			@include stylesList;

			.link {
				> span {
					@apply cursor-pointer;
					font-family: 'RF Dewi Extended', sans-serif;
					color: #20282f;

					&:hover {
						opacity: 0.7;
					}
				}
			}
		}

		.blockTwo {
			@include stylesList;

			.size {
				@apply flex-wrap;

				> button {
					@apply m-[10px] py-[8px] px-[16px] rounded w-[72px];
					border: 1px solid #efefef;

					&:hover {
						background-color: #49d0ff;
						transition: background-color 0.3s ease-in-out;
						border: none;
					}
				}
			}

			.sizeActive {
				background: #49d0ff;
				border: none;
			}
		}
	}

	.products {
		@apply ml-[28px];

		> h2 {
			@apply font-black text-3xl uppercase;
			font-family: 'RF Dewi Expanded', sans-serif;
		}

		.list {
			@apply flex flex-wrap;

			> div {
				@apply m-[10px];
			}
		}
	}
}

.resetFilters {
	@apply rounded py-[13px] px-[25px] uppercase font-black text-xs mx-[10px] flex items-center mt-[30px];
	border: 1px solid #e6e7eb;
	font-family: 'RF Dewi Extended', sans-serif;
	color: #121214;

	> svg {
		@apply mr-[5px];
	}
}

.container {
	@apply max-w-[1360px] my-0 mx-auto;
}
